@import '~bootstrap';
@import '~bootstrap-vue';
@import '_variables';



body, html {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  color: $black;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


.btn {
  margin-top: 30px;
  font-family: 'IBM Plex Mono', monospace;
  display: inline-block;
  border-radius: 0px;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.button--default {
  border: 1px solid $base-color;
  background-color: $base-color;
  color: $white;
  &:hover{

    color: $base-color;
    background-color: transparent;
  }
}

.underline{
  text-decoration: underline;
 text-decoration-color: $base-color;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .btn {
    margin-top: 20px;
    padding: 20px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

}
