//margins
$margin-xxs:      4px;
$margin-xs:       8px;
$margin-sm:       15px;
$margin-md:       20px;
$margin-lg:       30px;
$margin-xl:       40px;
$margin-xxl:      50px;



//paddings
$padding-xxs:      4px;
$padding-xs:       8px;
$padding-sm:       15px;
$padding-md:       20px;
$padding-lg:       30px;
$padding-xl:       40px;
$padding-xxl:      50px;
