//links
$link-color-default:            $base-color !default;
$link-hover-color-default:      $base-color !default;

$link-color-secondary:           $white !default;
$link-hover-color-secondary:      $white !default;
